[user]
	name = Clint Plummer
	email = clint@yuhonas.com
[alias]
	co = checkout
	tree = log --oneline --decorate --graph
	up = pull --rebase --autostash
	cleanup = "!git branch --merged main | grep -v '^*\\|main' | xargs -n 1 git branch -D"
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	autocrlf = input
	quotepath = false
  pager = delta

[interactive]
    diffFilter = delta

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
	line-numbers-zero-style = dim

[merge]
    conflictStyle = zdiff3

[apply]
	whitespace = nowarn
[format]
	#pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[push]
	default = current
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
trustExitCode = true
#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
[init]
	defaultBranch = main
[maintenance]
	repo = /Users/yuhonas/zsh/cd-gitroot
	repo = /Users/yuhonas/zsh/fast-syntax-highlighting
	repo = /Users/yuhonas/zsh/forgit
	repo = /Users/yuhonas/zsh/fzf-tab
	repo = /Users/yuhonas/zsh/fzf-z
	repo = /Users/yuhonas/zsh/ohmyzsh
	repo = /Users/yuhonas/zsh/znap
	repo = /Users/yuhonas/zsh/zsh-aliases-exa
	repo = /Users/yuhonas/zsh/zsh-ansimotd
	repo = /Users/yuhonas/zsh/zsh-autosuggestions
	repo = /Users/yuhonas/zsh/zsh-completions
	repo = /Users/yuhonas/zsh/zsh-you-should-use
	repo = /Users/yuhonas/zsh/fzf-fasd
	repo = /Users/yuhonas/zsh/zsh-autocomplete
	repo = /Users/yuhonas/zsh/DarrinTisdale/zsh-aliases-exa
	repo = /Users/yuhonas/zsh/MichaelAquilina/zsh-you-should-use
	repo = /Users/yuhonas/zsh/ohmyzsh/ohmyzsh
	repo = /Users/yuhonas/zsh/wfxr/forgit
	repo = /Users/yuhonas/zsh/yuhonas/cd-gitroot
	repo = /Users/yuhonas/zsh/yuhonas/zsh-ansimotd
	repo = /Users/yuhonas/zsh/zdharma-continuum/fast-syntax-highlighting
	repo = /Users/yuhonas/zsh/zsh-users/zsh-autosuggestions
	repo = /Users/yuhonas/zsh/zsh-users/zsh-completions
	repo = /Users/yuhonas/zsh/tom-doerr/zsh_codex
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
