[user]
	name = Clint Plummer
	email = clint@yuhonas.com
[alias]
	co = checkout
	tree = log --oneline --decorate --graph
	up = pull --rebase --autostash
	cleanup = "!git branch --merged main | grep -v '^*\\|main' | xargs -n 1 git branch -D"
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	quotepath = false
[apply]
	whitespace = nowarn
[format]
	#pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[push]
	default = current
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
trustExitCode = true
#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
[init]
	defaultBranch = main
