---
- hosts: all
  tasks:
    - name: classify hosts depending on their os distribution
      group_by:
        key: os_{{ ansible_facts['os_family'] }}
      changed_when: false
  tags: minimal

- hosts: all
  connection: local
  roles:
    - {role: dotfiles, tags: [minimal]}
    - developer

- hosts: os_Darwin
  connection: local
  roles:
   - osx-apps
   - osx-defaults

- hosts: os_Archlinux
  connection: local
  roles:
    - {role: linux-apps, tags: []}
