[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStart=/home/linuxbrew/.linuxbrew/opt/emacs/bin/emacs --daemon
ExecStop=/home/linuxbrew/.linuxbrew/opt/emacs/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=on-failure

[Install]
WantedBy=default.target




