"*":
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
  elmjutsu:
    cacheDirectory: "/var/folders/sd/md6blmxx4bz1tlrb6jqtt8lh0000gn/T/elmjutsu19966glRp61UYxcIA"
  "exception-reporting":
    userId: "5231547a-3fba-46f7-a869-d9cfd2173f47"
  "language-elm":
    autocompleteEnabled: false
  "linter-ui-default":
    panelHeight: 300
  welcome:
    showOnStartup: false
