<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>customSites</key>
  <dict>
    <key>68F683B7-7FB3-4B49-A6C9-70D79F5C73B2</key>
    <dict>
      <key>enabled</key>
      <true/>
      <key>keyword</key>
      <string>tpe</string>
      <key>plusSpaces</key>
      <false/>
      <key>text</key>
      <string>Open Target Process Entity #{query}</string>
      <key>url</key>
      <string>https://locomote.tpondemand.com/entity/{query}</string>
      <key>utf8</key>
      <true/>
    </dict>
    <key>77462FFE-3A3D-43E6-A843-E1797E798A40</key>
    <dict>
      <key>enabled</key>
      <true/>
      <key>keyword</key>
      <string>gh</string>
      <key>plusSpaces</key>
      <true/>
      <key>text</key>
      <string>Github</string>
      <key>url</key>
      <string>https://github.com/search?q={query}</string>
      <key>utf8</key>
      <true/>
    </dict>
    <key>9735B1AD-178D-4B47-A4E6-DEC1B256AD46</key>
    <dict>
      <key>enabled</key>
      <true/>
      <key>keyword</key>
      <string>ji</string>
      <key>text</key>
      <string>Jira Search</string>
      <key>url</key>
      <string>https://locomote.atlassian.net/secure/QuickSearch.jspa?searchString={query}</string>
      <key>utf8</key>
      <true/>
    </dict>
  </dict>
</dict>
</plist>
