[Desktop Entry]
Comment=
Exec=spectacle --region --background -c
Icon=spectacle
Name=Screenshot - Copy
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
